/* General */
:root {
    --orange: #F2994A;
    --red: #c60d0d;
    --black: #4E5150;
    --light-grey: #F2F2F2;
    --mid-grey: #E0E0E0;
    --dark-grey: #4F4F4F;
}

@import url('fonts/Montserrat-Regular.ttf');
@import url('fonts/Montserrat-Bold.ttf');
@import url('fonts/Montserrat-Italic.ttf');

* {  
    margin: 0;
    padding: 0;
}
body { 
    padding: 40px; 
    color: var(--black);
}


p {
    font-family: 'Monsterrat', sans-serif;
    font-size: 1em;
    font-weight: 600;
}
a { text-decoration: none; }
a, a:visited, a:focus { color: var(--black); }
a:active, a:hover { color: var(--light-grey); }
footer a:hover { text-decoration: underline; }
.uppercase { text-transform: uppercase; }
.center-text { text-align: center; }
.clear { 
    clear: both;
    margin-bottom: 20px; 
}
.error {
    color: var(--red);
    font-weight: bold;
    float: right;
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input, select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        color: var(--dark-grey);
        position: relative;
        outline: none;
    }
}

/* Checkout Design */
.checkout {
    display: grid;
    gap: 1em;
}
.checkout .row { margin-bottom: 15px; }
.checkout article { margin-bottom: 15px; }
.checkout article:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / 2;
}
.checkout article:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
}
.info input[type='phone'], .info input[type='email'], .info input[type='text'], .info input[type='number'], .info input[type='submit'], .info select {
    width: 100%;
    padding: 15px 0 15px 62px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
}
.info .country {
    position: relative;
}
.info .country .arrow {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 36px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.info .country .arrow .material-icons {
    position: relative;
    top: 4px;
}
.info input[type='checkbox'] {
    opacity: 0;
    height: 0;
    width: 0;
}
.info input[type='checkbox'] ~ .checkbox {
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 4px;
    border: 1px solid var(--dark-grey);
    cursor: pointer;
    position: relative;
    top: 3px;
    padding: 2px;
}
.info input[type='checkbox'] ~ .checkbox:after, .info input[type='checkbox']:not(:checked) ~ .checkbox:after {
    content: none;
}
.info input[type='checkbox']:checked ~ .checkbox:after {
    content: '\2713';
    position: absolute;
    top: 9px;
    left: 2.5px;
    font-size: 1em;
    font-weight: bold;
    color: var(--dark-grey);
    line-height: 0;
}
.info input[type='submit'] {
    background: var(--orange);
    color: #fff;
    border: 0;
    padding: 15px;
}
.input { 
    width: 100%; 
    position: relative;
}
.input .title { 
    display: block;
    font-size: 0.8em; 
    color: var(--dark-grey);
    margin-bottom: 5px;
}
.input .label {
    position: absolute;
    left: 20px;
    top: 41px;   
}
.remember {
    position: relative;
    left: -22px;
    top: 24px;
}
.input input:focus ~ label {
    display: none;
}


.cart {
    width: 72%;
    background: var(--light-grey);
    padding: 40px;
    float: right;
}
.cart img {
    width: 100%;
}
.cart, .cart img { 
    border-radius: 15px; 
}
.sale-price {
    color: var(--orange);
    font-size: 1.4em;
    margin-right: 5px;
}
.original-price {
    text-decoration: line-through;
    font-size: 1.2em;
}
.cart .cart-item { 
    display: grid; 
    gap: 1em;
    margin-bottom: 40px;
    width: 90%;
}
.cart .cart-item .cart-item-thumbnail { grid-column: 1; }
.cart .cart-item .cart-item-info { grid-column: 2; }
.cart input[type='number'] {
    background: none;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}
.cart input[type=number]::-webkit-inner-spin-button, .cart input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.cart hr {
    width: 100%;
    color: var(--dark-grey);
    background-color: var(--dark-grey);
    opacity: 0.4;
}
.cart .pricing .price {
    text-align: right;
    float: right;
}
.qty {
    position: relative;
    margin-top: 26px;
}
.qty button.decrease, .qty button.increase {
    position: absolute;
    top: 15px;
    display: block;
    border: none;
    background-color: var(--mid-grey);
    color: var(--dark-grey);
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    border-radius: 5px;
}
.qty button.decrease { left: 10px; }
.qty button.increase { right: 10px; }


/* Queries */
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .clear { margin-bottom: 2%; }
    .checkout article:nth-child(1) {
        grid-row: 2;
        grid-column: 1;
    }
    .checkout article:nth-child(2) {
        grid-row: 1;
        grid-column: 1;
    }
    .remember {
        position: relative;
        left: 26px;
        top: -20px;
    }
    .country { margin-bottom: 20px; }
    .cart {
        width: 100%;
        padding: 20px;
        float: none;
    }
    .cart .cart-item { 
        width: 100%;
        display: block;
    }
    .qty {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .clear { margin-bottom: 2%; }
}